.icon {
    color: #D3D3D3;
    margin: 15px;
}


.twitter-image {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    float: left;
    margin-top: 5px;
}


.history-card {
    width: 100%;           
}


.twitter-header {
    font-size: 25px;
}


.twitter-text-wrapper {
    margin-left: 75px;
    font-size: 13px;
}


.tweets-wrapper {
    margin: 20px;
}